@charset "utf-8";

.icon .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

* {
    word-wrap: break-word
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
th,
td,
fieldset {
    margin: 0;
    padding: 0;
    font-style: normal;
}

ul,
ol,
dl {
    list-style-type: none;
}

html,
body {
    position: static;
}

body {
    width: 100vw;
}

html {
    overflow-y: auto;
    overflow-x: hidden;
}


html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

caption,
code,
em,
th,
var {
    font-style: normal;
    font-weight: 400
}

input,
button,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}

input,
button {
    overflow: visible;
    vertical-align: middle;
    outline: 0
}

body {
    background: url(./img/background.png) repeat 0 0;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],


body,
th,
td,
button,
input,
select,
textarea {
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, "WenQuanYi Micro Hei", Verdana, sans-serif, "\5B8B\4F53";
    font-size: 12px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media(max-width :767px) {
    html {
        overflow-y: auto;
        overflow-x: hidden;
    }

    body,
    th,
    td,
    button,
    input,
    select,
    textarea {
        font-size: 14px
    }
}

body {
    line-height: 1.6;
    position: relative
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

a {
    text-decoration: none;
    cursor: pointer
}

a:hover {
    text-decoration: underline;
    outline: 0
}

a.ie6:hover {
    zoom: 1
}

a:focus {
    outline: 0
}

a:hover,
a:active {
    outline: 0
}

:focus {
    outline: 0
}

button,
input[type="button"],
input[type="submit"] {
    line-height: normal !important
}

img {
    border: 0;
    vertical-align: middle
}

a img,
img {
    -ms-interpolation-mode: bicubic
}

header,
footer,
section,
aside,
details,
menu,
article,
section,
nav,
hgroup,
figure,
figcaption {
    display: block;
    margin: 0;
    padding: 0;
}

time {
    display: inline
}

audio,
canvas,
video {
    display: inline-block;
    display: inline;
    zoom: 1
}

audio:not([controls]) {
    display: none
}

svg:not(:root) {
    overflow: hidden
}

fieldset {
    border-width: 0;
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

.cl:after,
.clearfix:after {
    content: "\20";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.cl,
.clearfix {
    zoom: 1
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media(min-width :992px) {
    .container {
        width: 960px
    }
}

@media(min-width :1200px) {
    .container {
        width: 1170px
    }
}

@media(min-width :1300px) {
    .container {
        width: 1270px
    }
}

@media print {
    .container {
        width: auto
    }
}

.row {
    box-sizing: border-box;
    margin-left: -15px;
    margin-right: -15px
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    min-height: 1px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}

.col-1 {
    width: 8.33333%
}

.col-2 {
    width: 16.66667%
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33333%
}

.col-5 {
    width: 41.66667%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33333%
}

.col-8 {
    width: 66.66667%
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.33333%
}

.col-11 {
    width: 91.66667%
}

.col-12 {
    width: 100%
}


.col-1-1 {
    width: 100%
}

.col-2-1 {
    width: 50%
}

.col-3-1 {
    width: 33.333333%
}

.col-3-2 {
    width: 66.666667%
}

.col-4-1 {
    width: 25%
}

.col-4-3 {
    width: 75%
}

.col-5-1 {
    width: 20%
}

.col-5-2 {
    width: 40%
}

.col-5-3 {
    width: 60%
}

.col-5-4 {
    width: 80%
}

.col-6-1 {
    width: 16.666667%
}

.col-6-5 {
    width: 83.333333%
}

@media(max-width:767px) {

    .responsive [class^="col-"],
    .responsive [class*=" col-"] {
        float: none !important;
        width: auto !important
    }
}

@media(min-width:768px) {

    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666666666666%
    }

    .col-sm-10 {
        width: 83.33333333333334%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666666666666%
    }

    .col-sm-7 {
        width: 58.333333333333336%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666666666667%
    }

    .col-sm-4 {
        width: 33.33333333333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.666666666666664%
    }

    .col-sm-1 {
        width: 8.333333333333332%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666666666666%
    }

    .col-sm-pull-10 {
        right: 83.33333333333334%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666666666666%
    }

    .col-sm-pull-7 {
        right: 58.333333333333336%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666666666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.666666666666664%
    }

    .col-sm-pull-1 {
        right: 8.333333333333332%
    }

    .col-sm-pull-0 {
        right: 0
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666666666666%
    }

    .col-sm-push-10 {
        left: 83.33333333333334%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666666666666%
    }

    .col-sm-push-7 {
        left: 58.333333333333336%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666666666667%
    }

    .col-sm-push-4 {
        left: 33.33333333333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.666666666666664%
    }

    .col-sm-push-1 {
        left: 8.333333333333332%
    }

    .col-sm-push-0 {
        left: 0
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666666666666%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333333334%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666666666666%
    }

    .col-sm-offset-7 {
        margin-left: 58.333333333333336%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666666666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.666666666666664%
    }

    .col-sm-offset-1 {
        margin-left: 8.333333333333332%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (max-width: 560px) {
    .col-sm-9 {
        padding-left: 4px;
        padding-right: 4px;
    }

    .col-sm-3 {
        padding-left: 4px;
        padding-right: 4px;
    }

    .container {
        padding-right: 10px;
        padding-left: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .col-sm-10 {
        font-size: 14px !important;
    }

    .col-sm-10 p {
        font-size: 14px !important;
        word-break: normal;
    }

    .col-sm-10 li {
        font-size: 14px !important;
        word-break: normal;
    }

    .col-sm-10 H2 {
        font-size: 1.4rem !important;
    }

    .col-sm-10 H3 {
        font-size: 1.0rem !important;
    }

    .col-sm-10 H4 {
        font-size: 0.8rem !important;
        color: #4dd0e1 !important;
    }

    .col-sm-10 H5 {
        font-size: 0.6rem !important;
        color: #4dd0e1 !important;
    }
}

@media(min-width:992px) {

    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666666666666%
    }

    .col-md-10 {
        width: 83.33333333333334%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666666666666%
    }

    .col-md-7 {
        width: 58.333333333333336%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666666666667%
    }

    .col-md-4 {
        width: 33.33333333333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.666666666666664%
    }

    .col-md-1 {
        width: 8.333333333333332%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666666666666%
    }

    .col-md-pull-10 {
        right: 83.33333333333334%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666666666666%
    }

    .col-md-pull-7 {
        right: 58.333333333333336%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666666666667%
    }

    .col-md-pull-4 {
        right: 33.33333333333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.666666666666664%
    }

    .col-md-pull-1 {
        right: 8.333333333333332%
    }

    .col-md-pull-0 {
        right: 0
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666666666666%
    }

    .col-md-push-10 {
        left: 83.33333333333334%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666666666666%
    }

    .col-md-push-7 {
        left: 58.333333333333336%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666666666667%
    }

    .col-md-push-4 {
        left: 33.33333333333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.666666666666664%
    }

    .col-md-push-1 {
        left: 8.333333333333332%
    }

    .col-md-push-0 {
        left: 0
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666666666666%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333333334%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666666666666%
    }

    .col-md-offset-7 {
        margin-left: 58.333333333333336%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666666666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.666666666666664%
    }

    .col-md-offset-1 {
        margin-left: 8.333333333333332%
    }

    .col-md-offset-0 {
        margin-left: 0
    }
}

@media(min-width:1200px) {

    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.66666666666666%
    }

    .col-lg-10 {
        width: 83.33333333333334%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.66666666666666%
    }

    .col-lg-7 {
        width: 58.333333333333336%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.66666666666667%
    }

    .col-lg-4 {
        width: 33.33333333333333%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.666666666666664%
    }

    .col-lg-1 {
        width: 8.333333333333332%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-pull-11 {
        right: 91.66666666666666%
    }

    .col-lg-pull-10 {
        right: 83.33333333333334%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-8 {
        right: 66.66666666666666%
    }

    .col-lg-pull-7 {
        right: 58.333333333333336%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-5 {
        right: 41.66666666666667%
    }

    .col-lg-pull-4 {
        right: 33.33333333333333%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-2 {
        right: 16.666666666666664%
    }

    .col-lg-pull-1 {
        right: 8.333333333333332%
    }

    .col-lg-pull-0 {
        right: 0
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-push-11 {
        left: 91.66666666666666%
    }

    .col-lg-push-10 {
        left: 83.33333333333334%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-8 {
        left: 66.66666666666666%
    }

    .col-lg-push-7 {
        left: 58.333333333333336%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-5 {
        left: 41.66666666666667%
    }

    .col-lg-push-4 {
        left: 33.33333333333333%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-2 {
        left: 16.666666666666664%
    }

    .col-lg-push-1 {
        left: 8.333333333333332%
    }

    .col-lg-push-0 {
        left: 0
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666666666666%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333333334%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666666666666%
    }

    .col-lg-offset-7 {
        margin-left: 58.333333333333336%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666666666667%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333333333%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-2 {
        margin-left: 16.666666666666664%
    }

    .col-lg-offset-1 {
        margin-left: 8.333333333333332%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }
}

.visible-xs,
.visible-sm,
.visible-lg,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important
}

@media(max-width :767px) {
    .visible-xs {
        display: block !important
    }

    table.visible-xs {
        display: table
    }

    tr.visible-xs {
        display: table-row !important
    }

    th.visible-xs,
    td.visible-xs {
        display: table-cell !important
    }

    .hidden-xs {
        display: none !important
    }

    .visible-xs-block {
        display: block !important
    }

    .visible-xs-inline {
        display: inline !important
    }

    .visible-xs-inline-block {
        display: inline-block !important
    }
}

@media(min-width :768px) and (max-width:991px) {
    .visible-sm {
        display: block !important
    }

    table.visible-sm {
        display: table
    }

    tr.visible-sm {
        display: table-row !important
    }

    th.visible-sm,
    td.visible-sm {
        display: table-cell !important
    }

    .hidden-sm {
        display: none !important
    }

    .visible-sm-block {
        display: block !important
    }

    .visible-sm-inline {
        display: inline !important
    }

    .visible-sm-inline-block {
        display: inline-block !important
    }
}

@media(min-width :1200px) {
    .visible-lg {
        display: block !important
    }

    table.visible-lg {
        display: table
    }

    tr.visible-lg {
        display: table-row !important
    }

    th.visible-lg,
    td.visible-lg {
        display: table-cell !important
    }

    .hidden-lg {
        display: none !important
    }

    .visible-lg-block {
        display: block !important
    }

    .visible-lg-inline {
        display: inline !important
    }

    .visible-lg-inline-block {
        display: inline-block !important
    }
}

.sd {
    float: right
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
    font-weight: 400;
    line-height: 1;
    color: #999
}

h1,
h2,
h3 {
    padding-top: 20px;
    padding-bottom: 10px
}

h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
    font-size: 65%
}

h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small {
    font-size: 75%
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

p {
    margin-bottom: 10px
}

small {
    font-size: 85%
}

b,
strong {
    font-weight: bold
}

em {
    font-style: italic
}

mark {
    color: #000;
    background: #ff0
}

del {
    font-family: Simsun
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

.en {
    font-family: Arial !important
}

.text-c {
    text-align: center
}

[class*="span"].r,
[class*="span"].f-r {
    float: right
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.mt-5 {
    margin-top: 5px
}

.mt-10 {
    margin-top: 10px
}

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 20px
}

.mt-25 {
    margin-top: 25px
}

.mt-30 {
    margin-top: 30px
}

.mt-35 {
    margin-top: 35px
}

.mt-40 {
    margin-top: 40px
}

.mt-50 {
    margin-top: 50px
}

.mb-5 {
    margin-bottom: 5px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-50 {
    margin-bottom: 50px
}

.pt-5 {
    padding-top: 5px
}

.pt-10 {
    padding-top: 10px
}

.pt-20 {
    padding-top: 25px
}

.pb-5 {
    padding-bottom: 5px
}

.pb-10 {
    padding-bottom: 10px
}

.pb-20 {
    padding-bottom: 20px
}

.pb-30 {
    padding-bottom: 30px
}

.radius {
    border-radius: 4px
}

.box-shadow {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
}

body {
    background-color: #fff;
    color: #333
}

.bg-fff {
    background-color: #fff
}

a {
    color: #000
}

a:hover,
.active a {
    color: #333
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

.content {
    position: relative;
    font-size: 17px;
    line-height: 1.8;
    overflow: hidden;
    text-align: left;
    word-break: break-all;
    word-wrap: break-word
}

.content h3 {
    font-size: 18px
}

.content h4 {
    font-size: 16px
}

.content p {
    margin-bottom: 1.5rem;
    text-align: justify;
    word-break: break-all
}

.content p.text-c {
    text-align: center
}

.indent {
    text-indent: 2em
}

.content img {
    max-width: 100%
}

.content ul {
    text-indent: 2em
}

@media(max-width:767px) {
    .content {
        font-size: 16px
    }
}

@media (max-width: 480px) {
    .content img {
        max-width: 100%;
        height: auto;
        max-width: 320px;
    }
}

.hide {
    display: none
}

[hidden] {
    display: none
}

.hidden {
    display: none !important;
    visibility: hidden !important
}

[class*="span"].hide,
.row-fluid [class*="span"].hide {
    display: none
}

.show {
    display: block
}

.invisible {
    visibility: hidden
}

code {
    padding: 0 3px 2px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace
}

input[type="radio"],
input[type="checkbox"] {
    line-height: normal;
    margin-top: -4px
}

label,
.placeholder {
    font-size: 14px
}

.form .row {
    margin-top: 15px
}

.form-label {
    display: block;
    color: #555
}

.placeholder {
    position: absolute;
    left: 4px;
    top: 4px;
    color: #c6c6c6;
    cursor: text
}

::-webkit-input-placeholder {
    color: #b3b3b3
}

:-moz-placeholder {
    color: #b3b3b3
}

::-moz-placeholder {
    color: #b3b3b3
}

:-ms-input-placeholder {
    color: #b3b3b3
}

.placeholder {
    color: #adb0be;
    position: absolute;
    z-index: 9
}

@media(max-width:767px) {
    .responsive .Validform_checktip {
        margin-top: 10px
    }
}

/* 动画 */

.navbar-wrapper {
    height: 45px
}

.navbar {
    position: relative;
    z-index: 1030;
    background-color: #fff
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030
}

.logo {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%
}

a.logo:hover {
    text-decoration: none
}

.navbar .logo {
    height: 44px;
    line-height: 44px;
    margin-right: 10px;
    float: left
}

.navbar-logo,
.navbar-logo-m {
    font-size: 16px
}

.navbar .container {
    position: relative
}

.navbar-userbar {
    position: absolute;
    top: 0;
    right: 15px
}

.navbar .container .navbar-userbar {
    right: 0
}

.nav {
    z-index: 1
}

.nav>ul {
    font-size: 0;
    line-height: 0
}

.nav>ul>li {
    position: relative;
    float: left
}

.nav>ul>li,
.nav>ul>li>a {
    display: inline-block;
    text-align: center
}

.nav>ul>li>a {
    padding: 0 20px
}

.nav>ul>li>a:hover,
.nav>ul>li.current>a {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    -webkit-transition: background-color .3s ease 0s;
    -moz-transition: background-color .3s ease 0s;
    -o-transition: background-color .3s ease 0s;
    -ms-transition: background-color .3s ease 0s;
    transition: background-color .3s ease 0s
}

.navbar-nav>ul>li,
.navbar-nav>ul>li>a {
    line-height: 44px;
    font-size: 16px;
}

@media(max-width:767px) {
    .navbar-wrapper {
        height: 45px !important
    }

    .logo {
        margin-right: 0
    }

    .navbar .logo {
        height: 44px !important;
        line-height: 44px !important
    }

    .navbar-nav {
        display: none;
        float: none !important
    }

    .navbar-nav>ul>li {
        width: 100%;
        text-align: left;
        border-bottom: solid 1px #eee
    }

    .navbar-nav>ul>li>a {
        display: block;
        padding: 0 15px;
        text-align: left
    }

    .navbar-nav>ul>li.dropDown.open>.dropDown-menu {
        display: none
    }

    .navbar-nav>ul>li.dropDown>.dropDown_A>.Hui-iconfont {
        display: none
    }

    .navbar-nav>ul>li,
    .navbar-nav>ul>li>a {
        height: 44px !important;
        line-height: 44px !important
    }

    .nav-collapse>ul,
    .nav-collapse>ul>li {
        width: 100%;
        display: block
    }

    .js .nav-collapse {
        position: absolute;
        display: block;
        float: none;
        clear: both;
        max-height: 0;
        clip: rect(0 0 0 0);
        margin-left: -15px;
        margin-right: -15px;
        overflow: hidden;
        -webkt-transition: max-height 284ms ease 0s;
        -moz-transition: max-height 284ms ease 0s;
        -o-transition: max-height 284ms ease 0s;
        -ms-transition: max-height 284ms ease 0s;
        transition: max-height 284ms ease 0s
    }

    .js-nav-active .nav-collapse.closed {
        max-height: none
    }

    .nav-collapse.opened {
        max-height: 9999px
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px
    }
}

.slider {
    position: relative;
    text-align: center;
    margin: 0 auto;
    z-index: 1
}

.slider .slider .bd li,
.slider .bd img {
    width: 100%;
    height: 100%
}

.slider .bd {
    z-index: 2;
    overflow: hidden
}

.slider .bd li {
    float: left;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat
}

.slider .bd li a {
    display: block;
    width: 100%;
    height: 100%
}


.panel {
    background-color: #fff;
    border: solid 1px transparent
}

.panel-body {
    padding: 10px
}

.panel-default {
    border-color: #ddd
}

.tags a {
    height: 26px;
    line-height: 26px;
    padding-right: 6px
}

.tags1 {
    color: #C00;
    font-size: 24px
}

.tags2 {
    color: #95d475;
    font-size: 16px
}

.tags3 {
    color: #F00
}

.tags4 {
    font-size: 16px
}

.tags5 {
    color: #C00;
    font-size: 20px
}

.tags6 {
    color: #222226;
    font-size: 20px
}

.tags7 {
    color: #529b2e;
    font-weight: bold;
    font-size: 18px
}

.tags8 {
    color: #4dd0e1;
    font-weight: bold
}

.tags9 {
    color: #337ecc;
    font-weight: bold;
    font-size: 16px
}

.tags a:hover {
    color: #F00;
    text-decoration: underline
}

.footer {
    border-top: 1px solid #bbb;
    padding: 15px 0;
    font-family: tahoma, Arial;
    font-size: 14px;
    color: #222;
    line-height: 22px;
    text-align: center
}

.footer a,
.footer a:hover {
    color: #999
}